@use "../../abstracts/colors";



.footer{
    width: 100%;
    background: colors.$pink;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;

   
}